@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #fff;
  font: 14px "Segoe UI", "Helvetica";
  color: #222;
}

code {
  background-color: #eee;
  color: inherit;
}

.tippy-box {
  font: 12px "JetBrains Mono", "Courier New", monospace;
}

.wrapper {
  padding: 1rem;
  width: 62rem;
}

.container,
.hand {
  display: flex;
}

.hand {
  margin: 0 1rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.col-pinky {
  margin-top: 1.5rem;
}

.col-ring {
  margin-top: 0.5rem;
}

.col-middle {
  margin-top: 0rem;
}

.col-index {
  margin-top: 0.5rem;
}

.col-inner {
  margin-top: 0.75rem;
}

.col-thumb {
  margin-top: 11.5rem;
}

.unused {
  opacity: 0.4;
  cursor: help;
}

.key {
  font: 12px "JetBrains Mono", "Courier New", monospace;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid #bbb;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #fafafa;
  vertical-align: top;
  text-align: center;
  color: #333;
}
.key.combo::before {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  border-radius: 50%;
  background-color: #e0f0f9;
  width: 1rem;
  height: 1rem;
  color: #222;
  content: "c";
  line-height: 0.8rem;
  font-weight: normal;
}
.key.M {
  background-color: #333;
  color: #f0f0f0;
}
.key.S {
  cursor: pointer;
  background-color: #ffe4e1;
}
.key.H::before {
  position: absolute;
  top: 1.75rem;
  width: 1rem;
  height: 1rem;
  color: #222;
  content: "__";
  font-weight: normal;
}

.combo:hover {
  background-color: #e0f0f9;
  color: #222;
}